       .hcenter{
           width:550px;
            padding: 2em 0 2em 0;
            border:solid 5px #F1F1F1;
            margin-top: 10px;
            margin-right: auto;
            margin-bottom: 0;
            margin-left: auto;
            background-color:rgba(220, 220, 220, 0.7);
       } 
       .texxst{
           padding: 10px 0px 10px 100px;
       }
      .admin label{
            padding: 20px;
            margin-top: 100px;
            margin-bottom: 0;
       }
       .admins input{
            padding: 0px;
            margin: 0px 0px 0px 10px;
       }
               .table1 th{
            padding: 10px;
            background-color: rosybrown;
        }
        .table1 tr{
            inline-size: auto;
            overflow-wrap: break-all;
        }
        .table1 td{
            padding: 10px;
        }
        .delete{
            background-color:rgba(221, 0, 0, 0.7) ;
        }
        .delete:hover{
            background-color: rgba(95, 70, 144, 0.8) ;
        }
        .table1{
            padding: 20px;
            margin-bottom: 20px;
            width:auto;
            border:solid 5px #F1F1F1;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            background-color:rgba(220, 220, 220, 0.7);
            border-collapse: collapse;
        }
        .table1 tr:nth-child(even){
            background-color: beige;
        }
        
        .viewws{
            background-color:rgba(14, 140, 243, 0.737) ;
        }
        .viewws:hover{
            background-color:rgba(41, 240, 140, 0.7) ;
        }
        