
.simple-form{
    box-shadow: 5px 5px 10px #b2b2b2;
    background-color: white;
    padding: 20px;
}

.simple-form .form-field{
    display: grid;
    grid-template-columns: auto;
}

.simple-form .form-field input:not([type='submit'], [type='button'], [type='file']){
    border: 0;
    outline: none;
    border-bottom: solid grey 2px;
    border-left: solid grey 1px;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;

}

.simple-form .form-field input[type='submit'], .simple-form .form-field input[type='button']{
    justify-self: right;
    padding: 10px 20px;
    margin-right: 10px;
}


.simple-form .error{
    color: red;
}