
body {
    background-image: linear-gradient(to bottom right, #d1d1d1, #728fb2);
}

.nav {
    display: grid;
    grid-template-columns: max-content auto max-content max-content;
    align-items: center;
    background-color:#6268db;
    background-image: linear-gradient(to bottom, #4374b6, #033d83);
    gap: 10px;
    padding-right: 15px;
}

/* .nav > *{
    outline: solid black 1px;
}

.nav .links > *{
    outline: solid black 1px;
}

.nav .profile > *{
    outline: solid black 1px;
} */

.nav .links > a{
    text-decoration: none;
    color: #891d1d;
    padding: 10px 20px;
    font-family: sans-serif;
    font-weight: 600;
    /* border-bottom: solid transparent 3px; */
    display: inline-block;
    position: relative;

}

.nav .links > a::after{
    content: '';
    position: absolute;
    color: aliceblue;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #dda132;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.nav .links > a:hover::after{
    transform: scaleX(1);
    transform-origin: center;
}

.nav .links{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.nav .profile-img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    transition: all 0.2s;

}

.nav .profile-img:hover{
    transform: scale(1.03);
    box-shadow: 5px 5px 10px #dc9595;
}